
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<h2>Login</h2>

<br />

<form action="" method="post">

    <label for="">ID</label>
    <input type="text" class="form-control" name="ID">

    <br />
    <label for="">Password</label>

    <input type="password" class="form-control" name="Password" />

    <br />
    <br />

    <button type="submit" class="btn btn-primary">Login</button>

</form>